# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# ===============================
# Virtual environment
# ===============================
expense-env/
venv/
.env

# ===============================
# Firebase credentials
# ===============================
lib/firebase_key.json

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Optional / caches
# ===============================
.cache/
